body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.span-color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 120px;
}

.half-width {
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img {
    width: 100%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.top-banner {
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

.dream-area {
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

h2 {
    font-size: 40px;
}

.experience-area {
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

.experience-area h3 {
    color: orange;
}

.experience-item {
    box-shadow: 5px 7px 40px gray;
    width: 40%;
    margin-left: 2%;
    margin-right: 5%;
    padding-left: 3%;
    border-radius: 10px;
}

#full-stack {
    border-left: 7px solid tomato;
}

#baby-web {
    border-left: 7px solid blue;

}

footer p {
    text-align: center;
}